.header {
  @include margin-auto;
  display: flex;
  position: relative;
  max-width: 1175px;
}

.header__cities-list {
  width: 27.4%;
  margin-right: 158px;
}

.header__menu {
  display: flex;
  align-items: center;
  width: 40.17%;
}

.header__button {
  margin-left: auto;
}

@media (max-width: $tablet-max-width) {
  .header__cities-list {
    width: 21.6%;
    margin-right: 0;
  }

  .header__menu {
    display: none;
  }

  .header__button {
    margin-left: 11.35%;
  }
}
