.main-section {
  @include margin-auto;
  display: flex;
  position: relative;
  max-width: 1100px;
}

.main-section__review {
  margin-top: 367px;
  margin-left: 15px;
}

.main_section__promo {
  margin-top: 86px;
  margin-left: 324px;
  width: 552px;
}

@media (max-width: $tablet-max-width) {
  .main-section__review {
    margin-top: 400px;
    margin-left: 45px;
  }

  .main_section__promo {
    margin-top: 91px;
    margin-left: 2.47%;
    width: 61.72%;
  }
}

@media (max-width: $mobile-max-width) {
  .main-section {
    flex-direction: column;
  }

  .main-section__review {
    margin-top: 0;
    margin-left: 0;
  }

  .main_section__promo {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
}
