.promo {
  color: $white;
}

.promo h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.promo__bold-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 515px;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 40px;
}

.promo__button {
  margin-left: 13px;
}

