.top-wrapper {
  position: relative;
  background: linear-gradient(90deg, $white 50%, transparent 0),
    linear-gradient($blue 662px, $grey 662px, $grey 717px, transparent 0);
  background-size: 100% 100%;
}

.top-wrapper__element {
  @include margin-auto;
  position: relative;
  padding-top: 31px;
  padding-bottom: 50px;
  max-width: 1440px;
  background-color: $white;
  background-image: url("../img/top-background.png");
  background-repeat: no-repeat;
  background-position: left top;
}

@media (max-width: $tablet-max-width) {
  .top-wrapper {
    background: url("../img/top-background.png");
    background-repeat: no-repeat;
    background-position: -18px top;
  }

  .top-wrapper__element {
    background: none;
    padding-top: 27px;
    width: 95.83%;
    min-width: 768px;
  }
}

@media (max-width: $mobile-max-width) {
  .top-wrapper__element {
    padding-top: 29px;
  }
}
